Repository opencepk/find-and-replace: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version, find-and-replace-strings

check-version:
  name: Check version
  entry: python assets/check_version.py
  language: system

find-and-replace-strings:
  name: Find and replace strings
  entry: e2e/check-commit-hook.sh
  language: system
  verbose: true

feat/intial-v clean up
  .github/workflows/publish-to-pypi.yml
Due: none

feat/intial-v-updates-to-tests-and-ghaction-workflows
  .github/workflows/e2e.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .yamllint.yaml
  e2e/precommit-e2e.test
  find_and_replace_strings/main.py
  pypi_bumpversion_check/check_version.py
  pypi_bumpversion_check/requirements.txt
  pyproject.toml
  tests-package-e2e/.find-and-replace.json
  tests-package-e2e/README_TEST_PACKAGE.md
  tests-package-e2e/README_TEST_PACKAGE.md.expected
  tests-package-e2e/README_TEST_PACKAGE.md.template
  tests-package-e2e/check-commit-hook.sh
  tests-package-e2e/test-package-e2e.sh
  tests-pre-commit-hook/.find-and-replace.json
  tests-pre-commit-hook/.pre-commit-config.yaml
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md.expected
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md.template
  tests-pre-commit-hook/test-pre-commit-hook.sh
  tests/test_main.py
Due: check-version, find-and-replace-strings

feat/intial-v-fix-ghaction-workflow-tests
  .github/workflows/tests.yml
Due: none

Revert "feat/intial-v initial code"
  .github/workflows/pre-commit.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .yamllint.yaml
  README.md
  assets/publish.sh
  assets/pypi-package.png
  find_and_replace_strings/__init__.py
  find_and_replace_strings/__main__.py
  find_and_replace_strings/main.py
  pypi_bumpversion_check/check_version.py
  pypi_bumpversion_check/requirements.txt
  pyproject.toml
  setup.py
  tests-package-e2e/.find-and-replace.json
  tests-package-e2e/README_TEST_PACKAGE.md
  tests-package-e2e/README_TEST_PACKAGE.md.expected
  tests-package-e2e/README_TEST_PACKAGE.md.template
  tests-package-e2e/check-commit-hook.sh
  tests-package-e2e/test-package-e2e.sh
  tests-pre-commit-hook/.find-and-replace.json
  tests-pre-commit-hook/.pre-commit-config.yaml
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md.expected
  tests-pre-commit-hook/README_TEST_PRE_COMMIT.md.template
  tests-pre-commit-hook/test-pre-commit-hook.sh
  tests/__init__.py
  tests/test_main.py
Due: check-version

Update README.md
  README.md
Due: none

Path conditions:
  check-version: any of: pyproject.toml
  find-and-replace-strings: any of: e2e/.*\.test$
